.window-buttongroup button.window-minimize{
    background-image: url("./images/minimize_dark.png");
}
.window-buttongroup button.window-minimize:hover{
    background-image: url("./images/minimize_hover_dark.png");
}


.window-buttongroup button.window-maximize{
    background-image: url("./images/maximize_dark.png");
}
.window-buttongroup button.window-maximize:hover{
    background-image: url("./images/maximize_hover_dark.png");
}


.window-buttongroup button.window-close{
  background-image: url("./images/close_dark.png");
}
.window-buttongroup button.window-close:hover{
  background-image: url("./images/close_dark_hover.png");
}
